/* You can add global styles to this file, and also import other style files */
.nav-pills .nav-link {text-align: center;}

.inline-block {display: inline-block;}

.btn:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
/*.card .card .card {box-shadow: none !important;}*/
